*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*css3 */
}
/* common */
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.hover-opacity{
transition: opacity 1s;
}

.hover-opacity:hover{
    opacity: 0.8;
}
.ltr-effect,
.tb-effect{
   position: relative;
}
.ltr-effect:after,
.tb-effect:after{
   position: absolute;
   content: "";
   background-color: #333;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
}
.ltr-effect:after{
   width: 0;
   transition: width 0.5s;
}
.tb-effect:after{
   height: 0;
   transition: height 0.5s;
}
.ltr-effect:hover:after{
   width: 100%;
}

.tb-effect:hover:after{
   height: 100%;
}
/* general */
button{
   font-family:inherit/*كل الازرار تورث الخط تبع البودي*/ ;

}
body{
   font-family: 'Varela Round', sans-serif;
}
.container{
   width: 80%;
   margin: auto; /*  مشان اوسطن عنصرالكونتينر*/
   }
.clear{
clear: both;
}
h1, h2, h3, h4, h5, h6{

    font-family:montserrat,sans-serif ;
}
.pd-y{
   padding: 120px 0;
}
.section-header{
   font-size: 20px;
text-align: center;

}
.section-header .section-title{
text-transform: capitalize;
   font-size: 35px;
   margin-bottom: 10px;
}
.section-header .line{
display: block;
width: 60px;
height: 5px;
margin:0px auto 70px auto;
background-color: #6195ff;

}
/* header section */
 .header{
    position: fixed;
    width: 100%;
    z-index: 10;
 }
 .header-container{ 
    overflow: hidden; /* to solve float problem */
 }
 .header .logo {

   width: 40%;
   float: left ;
}
.header .nav {
   width: 60%;
   float: left;
   list-style: none;
   text-align: right ;
}
.header .nav > li > a {
   color: #fff;
   text-decoration: none;
   font-size: 14px;
   display: block;
   padding: 30px 15px; 
}

.header .nav > li {
  display: inline-block;/*حتى اقدر احط عناصر القائمة جنب بعض*/
  text-align: right;
}

.header .nav > li > a:after , .header .nav > li > a.active:after{
   content: "";
   display: block;
   height: 3px;
   margin-top: 2px;
   background-color: #6195ff;
   transition: width 0.5s;
}
.header .nav > li > a.active:after{
   width: 100%;
}
.header .nav > li > a:after{
   width: 0;
}
.header .nav > li > a:hover:after{
   width: 100%;
}
.dropdown{
   position: relative;
}
.dropdown-menu{
   position: absolute;
   background: #6195ff;
   width: 150px;
   text-align: center;
   left: -50%;
   top: 60%;
   opacity: 0;
   visibility: hidden;
   transition: opacity .5s , visibility 0.5s;

}
.dropdown-menu a{
   display: block;
   color: #fff;
   text-decoration: none;
   padding: 10px;
}
.dropdown:hover .dropdown-menu{
   opacity: 1;
   visibility: visible;
}
 
/*Home section*/

 .home{
    height: 100vh;
    background-image: url(../images/background/background1.webp);
    background-size: cover;/*css3*/
    position: relative;

 }
 .home-content{
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
 }
 .home .title{
    color:#fff;
    font-size: 3.5rem;
    text-transform: uppercase;
 }
 .home .home-desc {
    margin: 10px 0;
    color:#fff;
    letter-spacing: 2px;
    line-height: 1.5;
 }
 .home .btn{
    width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;/* تصبح شكل الماوس على شكل يد أي تتحكم بشكل الماوس*/
    font-size: 18px;

 }
 .home .btn-start{
    margin-right: 10px;/*مشان ابعد العنصر عاليمين شوي*/
    background-color: #fff;
 }
 .home .btn-learn{
    background-color: #6195ff;
    color: #fff;
 }
/* about section */

.about-content{
       overflow: hidden;
}
.about-item{
   width: 30%;
   float: left;
   text-align: center;
   border: 1px solid #e8e8e8;
   padding: 50px 20px;
}
.about-item:hover .about-item-title{
   color: #fff;
}
.about-item.mg{
   margin: 0 5%;
}
.about-item .icon{
   color: #6195ff;
   margin-bottom: 10px;
}
.about-item-title{
text-transform: capitalize;
margin-bottom: 10px;
transition:  color 0.5s;
}
.about-item-desc{
   line-height: 1.6;
   margin-bottom: 10px;
   color: #999;
}
.about-item-link{
   color: #6195ff;
   text-transform: capitalize;
}
/* portofolio section*/
.portfolio{
   background: #f9f9f9;
}
.portfolio-content{
   overflow: hidden;
}
.portfolio-item{
   width: 30%;
   float: left;
   margin-bottom: 60px;
   position: relative;
   padding: 20px;
}
.portfolio-item .layer-content{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
  /*opacity: 0;
   visibility: hidden;*/
} 

.portfolio-item:hover .layer-content{
   opacity: 1;
   visibility: visible;
}

.layer-content .layer-info{
position: absolute;
left: 50%;
top: 50%;
width: 60%;
transform: translate(-50% ,-50%);
text-align: center;

}  
.layer-content .category{
    color: #6195ff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: top 0.5s opacity 0.5s;
    transition-delay: .2s;
   position: relative;
    top: 10px;

}
.layer-content-title{
   font-size: 20px;
   color: #fff;
   margin-bottom: 10px;
   transition: top 0.5s;
   transition-delay: 0.5s opacity 0.5s;
   opacity: 0;
   visibility: hidden;
   position: relative;
    top: 10px;

}
.layer-content a{
   color: #fff;
   top: 10px;
   transition: top 0.5s;
   transition-delay: 0.5s opacity 0.5s;
   opacity: 0;
   visibility: hidden;
   position: relative;
    top: 10px;

}
.layer-content a i{
   display: inline-block;
   width: 40px;
   height: 40px;
   line-height: 40px;
   background-color: #6195ff;
}

.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content a, 
.portfolio-item:hover .layer-content .category{
   top: 0;
   opacity: 1;
   visibility: visible;
}
.portfolio-item.mg{
   margin: 0 5%;
}
.portfolio-item img{
   width: 100%;
}
/*offer section*/
.offer{

}
.offer-content{
   overflow: hidden;
}
.offer-item{
   width: 30%;
   margin-bottom: 20px;
   float: left;
   border: 1px solid #e8e8e8;
   padding: 20px 15px 30px 70px;
   position: relative;
}
.offer-item.mg{
   margin: 0 5%;
}
.offer-item .icon{
   position: absolute;
   left: 15px;
   top: 30px;
   color: #6195ff;
}
.offer-item-title{
   text-transform: capitalize;
   margin-bottom: 15px;
   transition: color 0.5s;
}
.offer-item-desc{
   text-transform: capitalize;
   margin-bottom: 15px;
   line-height: 1.6;
   color: #999;
}
.offer-item:hover .offer-item-title{
   color: #fff;
}
/*service section*/
.service{
   background-color: #f9f9f9;
}
.service-item{
width: 50%;
float: left;
}
.service-item .section-header{
   text-align: left;
}
.service-item .section-header .line{
   margin: 0 0 50px 0;
}
.service-item-desc{
   padding-right: 20px;
   color: #999;
   line-height: 1.5;
   font-size: 17px;
   margin-bottom: 20px;
}
.service-list{
   list-style: none;
}
.service-list li{
   margin-bottom: 10px;
   color: #999;
}
.service-list li i{
   border: 1px solid #6195ff;
   color: #6195ff;
  width: 30px;
  height: 30px;
  padding: 7px;
   border-radius: 50%;
}

.service-item-img img{
   width: 100%;
} 
.service-bollets{
   list-style: non;
   text-align: center;
}
.service-bollets li{
   width: 10px;
   height: 10px;
   display: inline-block;
   background-color: #e8e8e8;
   margin: 10px 5px;
   border-radius: 50%;
}
.service-bollets li.active{
   background-color: #6195ff;
}
.service-bollets li:hover{
   background-color: #6195ff;
}
/* number section*/
.numbers{
   position: relative;
   background-image: url(../images/background/background2.webp);
   background-size: cover;
   background-attachment: fixed;/*مشان الصورة تضل ثابتة لما بعمل سكروول*/
   
   height: 300px;
}
.numbers-items{
   overflow: hidden;
   padding: 100px 0;
}
.number-item{
width: 25%;
float: left;
text-align: center;
}
.number-item .icon{
   color: #6195ff;
   margin-bottom: 15px;
}
.number-item-title{
   font-weight: bold;
   font-size: 30px;
   color: #fff;
}
.number-item-text{
   color: #fff;
}
/* pricing section*/
.pricing{

}
.pricing-plans{
   overflow: hidden;

}

.pricing-item{
   width: 30%;
   float: left;
   padding: 40px 15px;
   border: 1px solid #e8e8e8 ;
   text-align: center;
}
.pricing-item.mg{
   margin: 0 5%;
}
.pricing-item-text{
   text-transform: uppercase;
   font-size: 17px;
   transition: color 0.5s;
   color: #999;
}
.pricing-item-permonth{
   width: 130px;
   height: 130px;
   padding: 20px 0;
   margin: 20px auto;
   border: 2px solid #6195ff;
   border-radius: 50%;
   transition: color 0.5s;
}
.pricing-item-permonth .dollar {
   font-size: 50px;
   
}
.pricing-item-permonth .month{
   text-transform: uppercase;
   font-weight: bold;
   font-size: 15px;
}
.pricing-list{
   list-style: none;
}
.pricing-list li{
   color: #999;
   line-height: 1.8;
}
.pricing-item-purchase{
   background: none;
   border: 0;
   display: block;
   width: 140px;
   padding: 10px;
   margin:15px auto 0 auto;
   color: #7ba7ff;
   border: 2px solid #7ba7ff;
}
.pricing-item:hover .pricing-item-purchase{
   color: #fff;
}
.pricing-item:hover .pricing-item-text{
   color: #6195ff;
}
/* section testimonail*/
.testimonail{
   position: relative;
   background-image: url(../images/background/background3.webp);
   background-attachment: fixed;
   height: 400px;
}
.testimonail-content{
   overflow: hidden;
   padding: 120px 0;
   width: 80% ;
   margin: auto;
}
.testimonail-item{
   width: 50%;
   float: left;
   color: #fff;
}
.testimonail-item .testimonail-toplayer{
   padding: 10px 2px 40px 100px;
   position: relative;
}
.testimonail-item .testimonail-toplayer img{
   position: absolute;
   left: 10px;
   top: 10px;
   border-radius: 50%;
}
.testimonail-item .testimonail-toplayer h2{
   margin-bottom: 5px 0;
}
.testimonail-item .testimonail-toplayer span{
   color: #6195ff ;
}
.testimonail-desc{
   line-height: 1.5;
   font-size: 17px;
}
/* team section*/
.team-content{
   overflow: hidden;
}
.team-item{
   width: 30%;
   float: left;
   background: #e8e8e8;
   padding: 40px 10px;
   text-align: center;

}
.team-item .team-img{
   width: 90%;
   margin: auto;
   position: relative;
}
.team-overlay{
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   opacity: 0;
   visibility: hidden;
   
}
.team-overlay a{
   display: block;
   width: 40px;
   height: 40px;
   background: #7ba7ff;
   color: #fff;
margin-left: auto;
}
.team-overlay a i{
   line-height: 40px;
}
.team-item .team-img img{
   width: 100%;
} 
.team-item .team-info-title{
   color: #222;
   margin: 10px 0;
transition: color 0.5s;
}

.team-item .team-info-text{
   color: #999;
   text-transform: uppercase;
   font-size: 14px;
   transition: color 0.5s;
}
.team-item:hover .team-overlay{
   visibility: visible;
   opacity: 1;
}
.team-item.tb-effect{
z-index: 1;
}
.team-item:hover .team-info-text{
color: #fff;
}
.team-item:hover .team-info-title{
   color: #6195ff;
}
.team-item.mg{
   margin: 0 5%;

}
/*blog section*/
.blog{
background: #f8f8f8;
}
.blog-content{
   overflow: hidden;
}
.blog-item{
   width: 30%;
   float: left;
   background: #fff;
}
.blog-item-img img{
   width: 100%;
}
.blog-info{
   padding: 20px;
}
.blog-list{
   list-style: none;
   margin: 10px 0;
}
.blog-list li{
   display: inline-block;
   margin: 0 5px;
}
.blog-list li i{
   color: #6195ff;
}
.blog-title{
   font-weight: bold;
   margin: 20px 0;
}
.blog-desc{
   color: #999;
   margin-bottom: 10px;
   line-height: 1.5;
}
.blog-link{
   color: #6195ff;
}
.blog-item.mg{
   margin: 0 5%;
}
/*footer section*/
.footer{
   background: #1c1d21;
   text-align: center;
   padding: 60px 0;
}
.footer-link{
   list-style: none;
   margin: 20px 0;
}
.footer-link li{
   display: inline-block;
}
.footer-link li a{
   display: block;
   width: 50px;
   height: 50px;
   background: #6195ff;
   color: #fff;
   margin: 0 5px;
   border-radius: 50%;
}
.footer-link li a i{
   line-height: 50px;
}
.footer .copyright{
   color: #999;
   font-size: 15px;
   text-transform: uppercase;
}